@font-face {
    font-family: "Ouroboros Jets Font V4";
    src: url("/Pages/VCockpit/instruments/e170/Assets/fonts/Ouroboros-Font-SYS-4.0.otf") format("opentype");
}

* {
    font-family: "Ouroboros Jets Font V4";
}

body {
    background-color: #071119;
}

#mask {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 1440px;
}
#spdStripe {
    position: absolute;
    z-index: 5;
    top: -2398px;
    left: 0px;
}
#spdBlend {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
}
#horMask1 {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    mask-image: url(BRIGHT_MASK_DARK.png);
    background-image: url(/Pages/VCockpit/instruments/e170/Assets/PFD/PFD_HORIOZON_Z1.png);
}
#background {
    position: absolute;
    z-index: 0;
    top: -1530px;
    left: -506px;
}
#airSpdInd {
    position: absolute;
    z-index: 15;
    color: #5ADE4D;
    font-size: 290%;
    top: 445px;
    left: 6px
}
#altMSLInd {
    position: absolute;
    z-index: 15;
    color: #5ADE4D;
    font-size: 250%;
    top: 440px;
    right: 80px;
}
#altSel {
    position: absolute;
    z-index: 15;
    color: #7DEDEE;
    font-size: 170%;
    top: 118px;
    right: 135px;
}
#spdSel {
    position: absolute;
    z-index: 15;
    color: #F69CD7;
    font-size: 260%;
    top: 110px;
    left: 27px;
}
#spdMarker {
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 60px;
}
#hdgInd1 {
    position: absolute;
    z-index: 15;
    top: 852px;
    left: 170px;
    font-size: 140%;
}
#hdgInd2 {
    position: absolute;
    z-index: 15;
    top:877px;
    left: 165px;
    font-size: 190%;
    color: #7DEDEE;
}
#dtkInd1 {
    position: absolute;
    z-index: 15;
    top: 852px;
    right: 270px;
    font-size: 140%;
}
#dtkInd2 {
    position: absolute;
    z-index: 15;
    top:877px;
    right: 263px;
    font-size: 190%;
    color: #F69CD7;
}
#gspd1 {
    position: absolute;
    z-index: 15;
    top: 852px;
    left: 30px;
    font-size: 140%;
}
#gspd2 {
    position: absolute;
    z-index: 15;
    top: 877px;
    left: 10px;
    font-size: 140%;
    color:#5ADE4D;
}
#gspd3 {
    position: absolute;
    z-index: 15;
    top: 877px;
    left: 66px;
    font-size: 140%;
}
#hdgTestGPS {
    position: absolute;
    z-index: 15;
    top: 915px;
    left: 460px;
    font-size: 197%;
    color:#5ADE4D;
}
#headingIndComp {
    position: absolute;
    z-index: 15;
    top: 818px;
    right: 0px;
    transform: scale(0.2, 0.2) translateX(-1964px);
}
#HDGMarker {
    position: absolute;
    z-index: 16;
    top: 610px;
    right: 409px;
    transform: scale(0.045,0.045);
}
#compass1 {
    position: absolute;
    z-index: 11;
    top: 635px;
    left:-47px;
    transform: scale(0.38, 0.38);
}
#compass2 {
    position: absolute;
    z-index: 12;
    top: 635px;
    left:-47px;
    transform: scale(0.38, 0.38);
}
#baro1 {
    position: absolute;
    z-index: 15;
    right: 172px;
    top:793px;
    color: #7DEDEE;
    font-size: 130%;
}
#baro2 {
    position: absolute;
    z-index: 15;
    right: 116px;
    top:793px;
    font-size: 130%;
}
#box2top {
    position: absolute;
    z-index: 15;
    color: #5ADE4D;
    font-size: 200%;
    top: 65px;
    left: 374px;
}
#box3top {
    position: absolute;
    z-index: 15;
    font-size: 200%;
    color:#5ADE4D;
    top: 65px;
}
#box3down {
    position: absolute;
    z-index: 15;
    font-size: 200%;
    color:#5ADE4D;
    top: 105px;
}