@font-face {
    font-family: "Ouroboros Jets Font V4";
    src: url("/Pages/VCockpit/instruments/e170/Assets/fonts/Ouroboros-Font-SYS-4.0.otf") format("opentype");
}

* {
    font-family: "Ouroboros Jets Font V4";
}

body {
    background-color: #04070a;
}
#TO-1
{
position: absolute;
z-index: 20;
top: 20px;
left: 290px;
font-size: 270%;
color: #7DEDEE;
}
#ENG1ROSE
{
position: absolute;
z-index: 20;
left: 25px;
top: 50px;
width: 280px;
height: auto;
}
#ENG1N1
{
position: absolute;
z-index: 10;
left: 150px;
top: 280px;
font-size: 470%;
color: #5ADE4D;
}
#ENG2ROSE
{
position: absolute;
z-index: 20;
left: 335px;
top: 50px;
width: 280px;
height: auto;
}
#ENG2N1
{
position: absolute;
z-index: 10;
left: 460px;
top: 280px;
font-size: 470%;
color: #5ADE4D;
}
#N1
{
position: absolute;
z-index: 20;
top: 285px;
left: 305px;
font-size: 270%;
}
#ITT
{
position: absolute;
z-index: 20;
top: 610px;
left: 290px;
font-size: 270%;  
}
#ENG1ITT
{
position: absolute;
z-index: 20;
left: 130px;
top: 597px;
font-size: 400%;
color: #5ADE4D;
}
#ittCelIcon1
{
position: absolute;
z-index: 20;
left: 200px;
top: 600px;
font-size: 600%;
color: white;  
}
#ENG2ITT
{
position: absolute;
z-index: 20;
left: 445px;
top: 597px;
font-size: 400%;
color: #5ADE4D;
}
#ittCelIcon2
{
position: absolute;
z-index: 20;
left: 515px;
top: 600px;
font-size: 600%;
color: white;
}
#ITT1ROSE 
{
position: absolute;
z-index: 20;
left: 52.5px;
top: 420px;
width: 220px;
height: auto;
}
#ITT2ROSE
{
position: absolute;
z-index: 20;
left: 362.5px;
top: 420px;
width: 220px;
height: auto;
}
#border1
{
position: absolute;
z-index: 20;
top: 0px;
left: 640px;
width: 5px;
height: 1440px;
border: 5px;
border-style: solid;
border-color: white;
}
#border2
{
position: absolute;
z-index: 20;
top: 1200px;
left: 0px;
width: 1080px;
height: 5px;
border: 5px;
border-style: solid;
border-color: white;
}
#border3
{
position: absolute;
z-index: 20;
top: 950px;
left: 0px;
width: 1080px;
height: 5px;
border: 5px;
border-style: solid;
border-color: white;
}
#border4
{
position: absolute;
z-index: 20;
top: 1075px;
left: 0px;
width: 640px;
height: 5px;
border: 5px;
border-style: solid;
border-color: white;
}
#border5
{
position: absolute;
z-index: 20;
top: 1010px;
left: 640px;
width: 640px;
height: 5px;
border: 5px;
border-style: solid;
border-color: white;
}
#border6
{
position: absolute;
z-index: 20;
top: 800px;
left: 0px;
width: 640px;
height: 5px;
border: 5px;
border-style: solid;
border-color: white;
}
#border7
{
position: absolute;
z-index: 20;
top: 750px;
left: 640px;
width: 640px;
height: 5px;
border: 5px;
border-style: solid;
border-color: white;
}
#FUELQTYTAG
{
position: absolute;
z-index: 20;
top: 820px;
left: 10px;
font-size: 200%;
color: white;
}
#OILTAG
{
position: absolute;
z-index: 20;
top: 970px;
left: 10px;
font-size: 200%;
color: white;
}
#VIBTAG
{
position: absolute;
z-index: 20;
top: 1095px;
left: 10px;
font-size: 200%;
color: white;
}
#SLATFLAPSPOILERTAG
{
position: absolute;
z-index: 20;
top: 1220px;
left: 10px;
font-size: 200%;
color: white;
}
#LGAUTOBRAKETAG
{
position: absolute;
z-index: 20;
top: 770px;
left: 660px;
font-size: 200%;
color: white;
}
#APUTAG
{
position: absolute;
z-index: 20;
top: 965px;
left: 660px;
font-size: 200%;
color: white;
}
#CABINTAG
{
position: absolute;
z-index: 20;
top: 1030px;
left: 660px;
font-size: 200%;
color: white;
}
#TRIMSTAG
{
position: absolute;
z-index: 20;
top: 1220px;
left: 660px;
font-size: 200%;
color: white;
}